*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variable */

html {
  font-size: 62.5%;
  --bg-color-primary: #f28f3d;
}

body {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar-thumb {
  background-color: red !important;
}

::-webkit-scrollbar-track {
  background-color: green;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
}

.App {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://images.unsplash.com/photo-1547480053-7d174f67b557?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  height: 100vh;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  height: 80vh;
  background-color: white;
  width: 40rem;
  border: 1.2rem solid #f6f6f6;
  border-radius: 1rem;
  padding: 2rem 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 4rem rgba(236, 236, 236, 0.3);
}

.header {
  height: 8vh;
  /* background-color: #f28f3d; */
  text-align: center;
  color: white;
  position: relative;
}

.hamburger-box {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: var(--bg-color-primary);
}

.hemburger-box--icon {
  cursor: pointer;
}

.material-icons {
  font-size: 3rem;
}

.header__logo-box {
  color: var(--bg-color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-background-clip: text;
  background: linear-gradient(
    to right bottom,
    var(--bg-color-primary),
    var(--bg-color-secondary)
  ); */
  font-size: 2.5rem;
  transform: translate(-50%, -50%);
}

.sidedrawer--wrapper {
  height: 80vh;
  background-color: transparent;
  width: 40rem;
  border: 1.2rem solid #f6f6f6;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
}

.sidebar__content--container {
  width: 70%;
  background-color: var(--bg-color-primary);
  height: 100%;
  padding: 2rem;
}

.sidebar__items {
  list-style: none;
  color: white;
  font-size: 1.5rem;
}

.sidebar__items > li {
  cursor: pointer;
  display: block;
  margin: 1rem 0;
  padding-bottom: 0.3rem;
}

.sidebar__items > li span {
  border-bottom: 2px solid transparent;
}

.sidebar__items > li span:hover {
  border-bottom: 2px solid white;
}

.sidebar__backdrop--container {
  background-color: transparent;
  filter: brightness(20%);
  height: 100%;
  flex: 1;
}

.sidebar__header {
  width: 100%;
  height: 5vh;
  color: white;
  margin-bottom: 2rem;
  position: relative;
}

.sidebr__back-box {
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar__header--logo-box {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 2rem;
  transform: translate(-20%, -50%);
}

.form-container {
  max-height: 57vh;
  overflow: auto;
}

.sidebar__back-box--icon {
  cursor: pointer;
}

.bullet {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.bullet--diamond {
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.bullet--white {
  background-color: white;
}

.flex-layout {
  display: flex;
  align-items: center;
}

.todos__container {
  height: 60vh;
  overflow-y: auto;
  padding: 2rem 1.5rem;
}

.footer {
  height: 5vh;
  background-color: #f6f6f6;
}

.add-item-box {
  height: 5rem;
  width: 5rem;
  background-color: var(--bg-color-primary);
  border-radius: 100%;
  position: absolute;
  right: 1rem;
  bottom: 1.2rem;
  animation: moveDownAddButton 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes moveDownAddButton {
  0% {
    bottom: 70%;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.add-item--icon {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.form-group {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.form-group > :last-child {
  width: 100%;
  font-size: 2.6rem;
  border: none;
  height: 4rem;
  background-color: transparent;
  border-bottom: 2px solid var(--bg-color-primary);
  margin: 0 auto;
  outline: none;
  color: var(--bg-color-primary);
  border-radius: 0.4rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

label {
  text-align: justify;
  font-size: 1.4rem;
  display: block;
  padding: 0rem 1rem;
}

input {
  font-size: 3rem !important;
  padding: 0 1rem !important;
}

.todo-item-box {
  display: grid;
  margin: 1rem 0rem;
  grid-template-columns: 1fr 7fr;
  color: white;
  border-radius: 0.4rem;
  grid-gap: 0.8rem;
  padding: 1rem;
  background-color: var(--bg-color-primary);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.checkbox-div {
  /* background-color: blue; */
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.virtual-radio-button {
  position: absolute;
  display: inline-block;
  border: 0.3rem solid white;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.virtual-radio-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 75%;
  height: 75%;
  border-radius: 100%;
}

.virtual-radio-button-invisible {
  position: absolute;
  display: inline-block;
  border: 0.3rem solid white;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.virtual-radio-button-invisible::after {
  content: "";
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 75%;
  height: 75%;
  border-radius: 100%;
}

.todo-item-details-div {
  display: grid;
  grid-template-rows: repeat(1fr, 3);
  grid-gap: 0.4rem;
  /* background-color: orangered; */
}

.time-date-details,
.category-place-details {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-item-submit-button {
  border: none;
}

.field-item-div {
  display: flex;
  flex-direction: column;
}

.field-item-div:nth-child(even) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feild-item-label {
  font-size: 1rem;
}

.description-label {
  font-size: 0.9rem;
  position: absolute;
  top: 0.5rem;
  left: -0.3rem;
  animation: moveup 1s ease-in-out;
}

.description-label-invisible {
  opacity: 0;
  top: 0.5rem;
  left: -0.3rem;
  font-size: 0.9rem;
  position: absolute;
  animation: movedown 1s ease-in-out;
}

.themes-container-row {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 2rem 0;
}

.theme {
  height: 5rem;
  margin: 0 0.45rem;
  width: 5rem;
  border-radius: 10rem;
  position: relative;
}

.selected-theme--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

@keyframes moveup {
  0% {
    top: 2rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    /* top: 2rem; */
    opacity: 1;
  }
  100% {
    top: 4rem;
    opacity: 0;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 50%;
  }

  .form-container {
    max-height: 65vw;
    overflow: auto;
  }

  .theme-container {
    max-height: 65vw;
    overflow: auto;
  }

  .material-icons {
    font-size: 6vw;
  }

  .theme {
    height: 8vw;
    margin: 0 0.25rem;
    width: 8vw;
    border-radius: 10rem;
    position: relative;
  }

  .virtual-radio-button {
    position: absolute;
    display: inline-block;
    border: 0.3rem solid white;
    width: 100%;
    height: 65%;
    border-radius: 100%;
    border-radius: 100%;
    height: 6vw;
    width: 6vw;
  }

  .virtual-radio-button-invisible {
    position: absolute;
    display: inline-block;
    border: 0.3rem solid white;
    width: 100%;
    height: 65%;
    border-radius: 100%;
    height: 6vw;
    width: 6vw;
  }

  .home {
    overflow: auto;
    height: 100vw;
    background-color: white;
    width: 65vw;
    border: 1.2rem solid #f6f6f6;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 4rem rgba(236, 236, 236, 0.3);
  }

  .sidedrawer--wrapper {
    /* height: 80vh; */
    height: 100vw;
    background-color: transparent;
    width: 65vw;
    border: 1.2rem solid #f6f6f6;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
  }

  .sidebar__items > li {
    cursor: pointer;
    display: block;
    margin: 1rem 0;
    padding-bottom: 0.3rem;
  }

  .todos__container {
    height: 80%;
    overflow: auto;
  }

  .sidebar__content--container {
    overflow: auto;
  }

  .add-item-box {
    height: 12vw;
    width: 12vw;
    background-color: var(--bg-color-primary);
    border-radius: 100%;
    position: absolute;
    right: 1rem;
    bottom: 3.5rem;
  }
}

.form-group > :last-child:invalid {
  border-bottom: 2px solid orangered !important;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .virtual-radio-button {
    position: absolute;
    display: inline-block;
    border: 0.3rem solid white;
    width: 100%;
    height: 55%;
    border-radius: 100%;
    width: 6.5vw;
    height: 6.5vw;
  }

  .virtual-radio-button-invisible {
    position: absolute;
    display: inline-block;
    border: 0.3rem solid white;
    width: 100%;
    height: 55%;
    border-radius: 100%;
    width: 6.5vw;
    height: 6.5vw;
  }

  .home {
    /* height: 80vh; */
    background-color: white;
    width: 70vw;
    border: 1.2rem solid #f6f6f6;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 4rem rgba(236, 236, 236, 0.3);
  }

  .sidedrawer--wrapper {
    /* height: 80vh; */
    background-color: transparent;
    width: 70vw;
    border: 1.2rem solid #f6f6f6;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
  }
}

/*
@media screen and (max-height: 650px) {
  .App {
    height: 200vh;
    position: relative;
  }

  .home {
    height: 85%;
  }

  .sidedrawer--wrapper {
    height: 85%;
  }
}
*/
